body{
	
}
.indigo{
	background-color: #216bbf !important;
}
.green {
    background-color: #00b795 !important;
}
.preloader-wrapper.big {
	margin: auto;
    width: 10rem;
    height: 10rem;
    margin-top: 3rem;
    display:none;
}
header, main, footer{
  padding-left: 240px;
}
main{
	padding-top: 36px;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{
	position: relative;
  top: 3px; 
  margin-right: 10px; 
}
nav ul a{
  font-size: 1.3rem;
  font-weight: 300;
	-webkit-transition: color .3s, background-color .3s; /* Safari */
  transition: color .3s, background-color .3s;
}
nav ul a:hover{
    /*color: #51BBFF;*/
	/*color: #ffab40;*/
}
nav #nav-mobile li a{
	font-family: 'Poiret One', cursive;
	font-weight: 600;
}
nav #nav-mobile li i{
	font-size: 1.9rem;
}
nav #mobile-icon i.material-icons{
	top: 0;
}
nav .brand-logo{
	font-size: 1.6rem;
	font-family: roboto;
    text-shadow: 1px 1px 1px #355971;
    font-weight: 300;
}
nav .brand-logo i{
	top: -1px;
}
.tooltipped i{
	vertical-align: middle;
	font-size: 19px;
	color: #216bbf;
	margin-left: 4px;
	position: relative;
	bottom: 1px;
}
#slide-out .app-name{
	font-family: 'Poiret One', cursive;
	font-size: 1.8rem !important;
	color: #FFF;
    text-shadow: 1px 1px 1px #216bbf;
    font-weight: 600 !important;
    background-color: #51BBFF;
}
#slide-out .app-name:hover {
    background-color: #51BBFF !important;
    cursor: default;
}
#slide-out{
	background-color: #FFF;
}
#slide-out li{

}
#slide-out a{
	color: #216bbf;
	font-size: 1.3rem;
	font-weight: 300;
}
.select-wrapper+label {
	top: 10px;
}
.button-col i{
	padding: 0px;
}
.button-col input{
	padding: 0px 30px;
	height: 36px;
    line-height: 36px;    
    letter-spacing: .5px;
	-webkit-transition: color .3s; /* Safari */
    transition: color .3s;	
}
.button-col input:hover{
	/*color: #ffab40;*/
}
.card.medium {
    background-color: brown;
}
.card .card-image img {
	width: auto;
	margin: auto;
	border-radius: 2%;	
}
.card .card-reveal .card-title {
	font-size: 20px;
	font-weight: 400;
}
.waves-effect.waves-tan .waves-ripple {
 	background-color: rgba(181, 153, 63, 0.65);
 }
 /* label color */
 .input-field label {
    color: #216bbf;;
 }
 .input-field label.active {
 	color: #216bbf;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
    color: #216bbf;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
    border-bottom: 1px solid #216bbf;
    box-shadow: 0 1px 0 0 #216bbf;
 }
 /* valid color */
 .input-field input[type=text].valid {
    border-bottom: 1px solid #216bbf;
    box-shadow: 0 1px 0 0 #216bbf;    
 }
 /* invalid color */
 .input-field input[type=text].invalid {
    border-bottom: 1px solid #B3190F;
    box-shadow: 0 1px 0 0 #B3190F;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
    color: #216bbf;
 }
.dropdown-content li>a, .dropdown-content li>span {
	color: #216bbf;
}
.pagination{
	display: none;
}
.pagination li .arrow{
	padding: 0;
}
.pagination li.active{
	position: relative;
	top: 2px;
    background-color: #dc4040;
}
.pagination li.active:hover{
	background-color: #dc4040;
}
.pagination li{
	padding: 0;
}
.pagination li:hover{
	background-color: #d0d0d0;
}
.pagination li.active a {
    color: #fff;
}
.pagination li.disabled{
    background-color: transparent;
}
.pagination li.disabled a {
    cursor: default;
    color: #999;
}
.pagination li a {
    color: #444;
    padding: 0 10px;
    margin: 0;
}
.currentPage{
	display: none;
}
.results {
	display: none;
    border: 2px solid #216bbf;
}
.collection{
	
}
.collection .collection-item {
    border-bottom: 1px solid white;
}
.collection .collection-item.avatar {
    min-height: 164px;
    padding-left: 250px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;    
    position: relative;
	font-size: 16px;  
	background-color: #216bbf;
    color: white;   
}
.collection .collection-item.avatar img{
    position: absolute;
    bottom: 22px;
    left: 20px;
    border-radius: 2px;
}
.collection .collection-item.avatar p:first-of-type {
    margin: 0;
    margin-top: 6px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 67px;
	font-size: 15px;  
	text-align: justify;
    overflow: hidden;	
    text-shadow: 1px 1px 1px #545454; 
    font-weight: 300;
    font-size: 1.2rem;
}
.collection .collection-item.avatar p {
    margin: 4px auto;
    height: auto;
}
.collection h5{
    margin-bottom: 4px;
    text-shadow: 1px 1px 1px #545454;     
}
.collection .btn{
	height: auto;
	line-height: inherit;
	padding: 0px 30px;
	color: #FFF;
	font-size: 1rem;
	background-color: #ec3872;
	height: 36px;
    line-height: 36px;
}
.collection .btn:hover {
}
.collection .collection-item.avatar i {
    position: relative;
	top: -2px;
    vertical-align: middle;
    padding-right: 6px;
}
.status{
	padding-top: 20px;
	padding-bottom: 20px;	
}
.listingModal{
	max-height: inherit;
	border-radius: 4px;
}
.listingModal .row{
	padding: 0px 24px;
	background-color: white;
	padding-bottom: 16px;
	margin-bottom: 0;
}
.listingModal .row:last-of-type{
	margin-bottom: 0px;
	padding-bottom: 0;
	background-color: #d0d0d0;
}
.listingModal .row:last-of-type p{
	position: relative;
	top: 4px;
}
.listingModal h5{
	font-size: 1.9rem;
}
.listingModal p{
	font-size: 16px;
}
.listingModal .row .col p:first-of-type{
	margin-top: 5px;
	margin-bottom: 10px;
}
.listingModal p i{
	vertical-align: bottom;
    margin-right: 6px;
}
.listingModal .modal-content{
	padding: 0 0 10px 0;
	background-color: #d0d0d0;
}
.modal-info{
	margin-bottom: 18px;
}
.collection-links a{
	margin-right: 10px;
}
.status-col p{
	margin-top: 0px;
	height: 36px;
	padding-top: 7px;
	font-size: 1.4rem;
    font-weight: 300;
}
.go-to-page{
	display: none;
}
.go-to-page-input{
	margin-top: 0;
}
.go-to-page-input input{
	width: calc(100% - 46px);
}
.go-to-page-input label{
}
.go-to-page a{
	float: right;
	position: relative;
	top: 9px;
	padding: 0 8px;
}
.modal-listing-image{
	border: 1px solid #d0d0d0;
}
.listingModal .row .col .center .btn{
	background-color: #ec3872;
}
#modal1 .modal-content h4{
	font-family: 'Poiret One', cursive;
	color: #216bbf;
	font-weight: 600;	
}
#modal1 .modal-content p.content{
	min-height: 50px;
    font-size: 1.1rem;
    margin: 1rem auto;
}

@media only screen and (max-width : 992px) {
  	header, main, footer {
    	padding-left: 0;
  	}
	.collection .btn{
  		padding: 0px 30px;
  	}
}

@media only screen and (max-width : 1040px){
  	.collection .btn{
  		padding: 0px 20px;
  	}
}

@media only screen and (min-width: 993px){.container{width:85%;}}

@media only screen and (min-width: 992px){
	html {font-size: 14px;}
	nav #nav-mobile li a {font-size: 1.1rem;padding: 0 6px;}
	nav #nav-mobile li i {font-size: 1.5rem;top: 5px;margin-right: 6px;}	
	nav .brand-logo {font-size: 1.5rem;}	
	.go-to-page a{float: right;position: relative;top: 7px;padding: 0 8px;}
	.input-field label {font-size: smaller;}
}

@media only screen and (min-width: 1200px){
	html {font-size: 15px;}
	nav #nav-mobile li a {font-size: 1.3rem;padding: 0 15px;}
	nav #nav-mobile li i {font-size: 1.6rem;top: 3px;margin-right: 10px;}
	nav .brand-logo {font-size: 1.6rem;}
	.go-to-page a{float: right;position: relative;top: 9px;padding: 0 8px;}	
	.input-field label {font-size: 1rem;}	
}
.modal .modal-close.btn.right{
        margin-bottom: 16px;
}